<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverController</servlet-name>
        <servlet-class>Controller.RecoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRecoverController</servlet-name>
        <servlet-class>Controller.AuthRecoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocksManagementController</servlet-name>
        <servlet-class>Controller.StocksManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ordercontroller</servlet-name>
        <servlet-class>Controller.Ordercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderdetailcontroller</servlet-name>
        <servlet-class>Controller.Orderdetailcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productStockImportController</servlet-name>
        <servlet-class>Controller.productStockImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controller.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <servlet-class>Controller.SearchSuggestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>Controller.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWishlistController</servlet-name>
        <servlet-class>Controller.RemoveWishlistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>Controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>Controller.DiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingController</servlet-name>
        <servlet-class>Controller.SearchingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>Controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>Controller.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnRequestController</servlet-name>
        <servlet-class>Controller.ReturnRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequestController</servlet-name>
        <servlet-class>Controller.ManageRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductStocksImportController</servlet-name>
        <servlet-class>Controller.ProductStocksImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailController</servlet-name>
        <servlet-class>Controller.FeedbackDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>Controller.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyAgainController</servlet-name>
        <servlet-class>Controller.BuyAgainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>Controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeController</servlet-name>
        <servlet-class>Controller.ChangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCustomerController</servlet-name>
        <servlet-class>Controller.ChangeCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVariantController</servlet-name>
        <servlet-class>Controller.AddVariantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageController</servlet-name>
        <servlet-class>Controller.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>Controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNotificationController</servlet-name>
        <servlet-class>Controller.LoadNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedbackController</servlet-name>
        <servlet-class>Controller.SubmitFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeEmailController</servlet-name>
        <servlet-class>Controller.ChangeEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePhoneNumberController</servlet-name>
        <servlet-class>Controller.ChangePhoneNumberController</servlet-class>
</servlet>
  <servlet>
        <servlet-name>OrderReceivedController</servlet-name>
        <servlet-class>Controller.OrderReceivedController</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>Controller.ProductDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/ProductDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverController</servlet-name>
        <url-pattern>/RecoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRecoverController</servlet-name>
        <url-pattern>/AuthRecoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocksManagementController</servlet-name>
        <url-pattern>/stocksManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>Controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ordercontroller</servlet-name>
        <url-pattern>/Ordercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderdetailcontroller</servlet-name>
        <url-pattern>/Orderdetailcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productStockImportController</servlet-name>
        <url-pattern>/productStockImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/BrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <url-pattern>/SearchSuggestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/shoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWishlistController</servlet-name>
        <url-pattern>/RemoveWishlistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/DiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingController</servlet-name>
        <url-pattern>/SearchingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/OrderListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnRequestController</servlet-name>
        <url-pattern>/ReturnRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRequestController</servlet-name>
        <url-pattern>/ManageRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductStocksImportController</servlet-name>
        <url-pattern>/importProductStocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailController</servlet-name>
        <url-pattern>/FeedbackDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyAgainController</servlet-name>
        <url-pattern>/BuyAgainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeController</servlet-name>
        <url-pattern>/ChangeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCustomerController</servlet-name>
        <url-pattern>/ChangeCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVariantController</servlet-name>
        <url-pattern>/AddVariantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageController</servlet-name>
        <url-pattern>/UploadImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNotificationController</servlet-name>
        <url-pattern>/LoadNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackController</servlet-name>
        <url-pattern>/SubmitFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeEmailController</servlet-name>
        <url-pattern>/ChangeEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePhoneNumberController</servlet-name>
        <url-pattern>/ChangePhoneNumberController</url-pattern>
<servlet-mapping>
      <servlet-mapping>
        <servlet-name>OrderReceivedController</servlet-name>
        <url-pattern>/OrderReceivedController</url-pattern>

    </servlet-mapping>
</web-app>
