<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverController</servlet-name>
        <servlet-class>Controller.RecoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRecoverController</servlet-name>
        <servlet-class>Controller.AuthRecoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocksManagementController</servlet-name>
        <servlet-class>Controller.StocksManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ordercontroller</servlet-name>
        <servlet-class>Controller.Ordercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderdetailcontroller</servlet-name>
        <servlet-class>Controller.Orderdetailcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productStockImportController</servlet-name>
        <servlet-class>Controller.productStockImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controller.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <servlet-class>Controller.SearchSuggestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>Controller.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWishlistController</servlet-name>
        <servlet-class>Controller.RemoveWishlistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>Controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>Controller.DiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingController</servlet-name>
        <servlet-class>Controller.SearchingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>Controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>Controller.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnRequestController</servlet-name>
        <servlet-class>Controller.ReturnRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequestController</servlet-name>
        <servlet-class>Controller.ManageRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductVariantsImportController</servlet-name>
        <servlet-class>Controller.ProductVariantsImportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>Controller.ProductDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/ProductDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverController</servlet-name>
        <url-pattern>/RecoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRecoverController</servlet-name>
        <url-pattern>/AuthRecoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocksManagementController</servlet-name>
        <url-pattern>/stocksManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>Controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ordercontroller</servlet-name>
        <url-pattern>/Ordercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderdetailcontroller</servlet-name>
        <url-pattern>/Orderdetailcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productStockImportController</servlet-name>
        <url-pattern>/productStockImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/BrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <url-pattern>/SearchSuggestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/shoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWishlistController</servlet-name>
        <url-pattern>/RemoveWishlistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/DiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingController</servlet-name>
        <url-pattern>/SearchingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/OrderListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>    
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnRequestController</servlet-name>
        <url-pattern>/ReturnRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRequestController</servlet-name>
        <url-pattern>/ManageRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductVariantsImportController</servlet-name>
        <url-pattern>/importProductVariants</url-pattern>
    </servlet-mapping>
</web-app>
