<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverController</servlet-name>
        <servlet-class>Controller.RecoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRecoverController</servlet-name>
        <servlet-class>Controller.AuthRecoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocksManagementController</servlet-name>
        <servlet-class>Controller.StocksManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>Controller.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>Controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/ProductsController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>Controller.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>Controller.ProductDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/ProductDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverController</servlet-name>
        <url-pattern>/RecoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRecoverController</servlet-name>
        <url-pattern>/AuthRecoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocksManagementController</servlet-name>
        <url-pattern>/stocksManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>Controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>Controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
</web-app>
